*{
}

p{
    color: blue;
}
h3{
    color: blueviolet;
}

/* ID Selector */
#eg1{
    color: aqua;
    background-color: yellow;
}



.boom{
    color: red;
    background-color: aquamarine;
}

.ayush{
    color: pink;
}


#parent>div p{
    color: aquamarine;
}